<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="./lib/Tests/phpunit_bootstrap.php"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
  <source>
    <include>
      <directory>./lib/Fhp/</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="FHP Test Suite">
      <directory>./lib/Tests/Fhp/</directory>
    </testsuite>
  </testsuites>
</phpunit>
